.view {
    padding: 1rem;
}

.math-block {
    font-size: 1.2em !important;
    text-align: center !important;
    margin: 1rem auto !important;
}

.math-inline {
    font-size: 1em !important;
    vertical-align: middle !important;
}

.katex {
    font-family: var(--lumo-font-family), monospace !important;
}